@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
<b>Absolute Software GmbH</b><br />
Jungfernstieg 49<br />
D-20354 Hamburg<br />
T +49 40 -34 96 18 -40<br />
F +49 40 -34 96 18 -77<br />
<a href="www.absolute.de">www.absolute.de</a> <br /><br />

Geschäftsführer: Thomas Lembcke, Stefan Elsner, Rüdiger Höfert<br />
Sitz der Gesellschaft ist Hamburg Handelsregister B 59152 <br />




</p>
