@{
    ViewBag.Title = "Home Page";
}

@model  ClothesSearch.Services.DTOs.SearchDto

<div class="Search">@Html.Partial("Search",Model)</div>

<p>
    @*To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
*@