<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="indexCreationConfig" type="PvKatalogsystem.IndexCreation.Configuration.IndexCreationConfig, PvKatalogsystem.IndexCreation"/>
  </configSections>
  
  <indexCreationConfig xmlns="urn:Pv.IndexCreation.Management.Configuration">
    <database sourceConnectionString="Application Name=Clothes-IndexCreation;Data Source=darkstar;Initial Catalog=Clothes;Persist Security Info=True;User ID=sa;Password=Abs0lut3;Connection Timeout=600"/>

    <masterServer uri="http://localhost:8080"/>

    <replicationServer>
      <server name="one" uri="http://rambo:8080"/>
    </replicationServer>

    <indices threads="16" namespace="PvKatalogsystem.IndexCreation.IndexCreators.Sql">
      <!--<index name="Achse" relativeUri="PvKatalogsystem_Achse" chunkSize="200"/>-->
      <index name="Clothes" relativeUri="Clothes" chunkSize="2000"/>
    </indices>

  </indexCreationConfig>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
